.gen-container {
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.gen-container > section {
  margin: 0 auto;
  max-width: 1200px;
}

.gen-container > section a {
  color: var(--gray);
  transition: transform 0.2s;
}

.gen-container > section a:hover {
  color: #fff;
  transform: scale(1.2);
}

.gen-container ul {
  list-style: none;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 50px;
  background-color: var(--black);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1200px) {
  .gen-container {
    height: max-content;
  }
}
